<table class="table table-bordered">
    <tr>
        <th>Pre-intervention consumption</th>
        <td class="tabular-numbers text-end">
            {{ annual.baseline_kwh|floatformat:0 }} kWh
        </td>
    </tr>

    <tr>
        <th>
            Post-intervention consumption<br>
            <span class="text-muted fw-normal">
                from first 365 days of reporting period
            </span>
        </th>
        <td class="tabular-numbers text-end">
            {{ model.annual_usage_kwh|floatformat:0 }} kWh
        </td>
    </tr>

    {% if annual.postcode_kwh %}
        <tr>
            <th>Postcode area average consumption (2021)</th>
            <td class="tabular-numbers text-end">
                {{ annual.postcode_kwh|floatformat:0 }} kWh
            </td>
        </tr>
    {% endif %}

    <tr>
        <th><abbr title="Lower Super Output Area; a local area with roughly 1500 people or 650 households">LSOA</abbr> area average consumption (2021)</th>
        <td class="tabular-numbers text-end">
            {{ annual.lsoa_kwh|floatformat:0|default:"-" }} kWh
        </td>
    </tr>
</table>
