{% load mathfilters %}

{% if model.reduction > 0 %}
    <p class="mb-0 small-caps" style="text-transform: uppercase;">Normalised metered energy consumption</p>
    <p class="fs-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-down-fill text-success" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
        {{ model.reduction|floatformat:2 }} kWh
        ({{ model.reduction_pct|floatformat:2 }}%)
    </p>

    <p class="mb-0 small-caps" style="text-transform: uppercase;">Carbon savings</p>
    <p class="fs-3 mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-down-fill text-success" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
        </svg>
        {{ model.co2_saving_kg|floatformat:0 }} kgCO₂e
    </p>
{% else %}
    <p class="mb-0 small-caps" style="text-transform: uppercase;">Normalised metered energy consumption</p>
    <p class="fs-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-up-fill text-danger" viewBox="0 0 16 16">
            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
        {{ model.reduction|abs|floatformat:0 }} kWh
        ({{ model.reduction_pct|abs|floatformat:0 }}%)
    </p>

    <p class="mb-0 small-caps" style="text-transform: uppercase;">Carbon savings</p>
    <p class="fs-3 mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-up-fill text-danger" viewBox="0 0 16 16">
            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
        {{ model.co2_saving_kg|abs|floatformat:0 }} kgCO₂e
    </p>
{% endif %}
