<table class="table table-bordered" style="width: auto">
    <tr>
        <th>
            Pre-intervention energy use intensity
        </td>
        <td class="tabular-numbers text-end">
            {% if intensity_figures.pre_intervention %}
                {{ intensity_figures.pre_intervention|floatformat:1 }} kWh/m²·year
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>
            Post-intervention energy use intensity<br>
            <span class="text-muted fw-normal">
                from first 365 days of reporting period
            </span>
        </td>
        <td class="tabular-numbers text-end">
            {% if intensity_figures.post_intervention %}
                {{ intensity_figures.post_intervention|floatformat:1 }} kWh/m²·year
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>
            Post-intervention carbon intensity
        </td>
        <td class="tabular-numbers text-end">
            {% if intensity_figures.co2_sum %}
                {{ intensity_figures.co2_sum|floatformat:1 }} kgCO2e/m²·year
            {% else %}
                None
            {% endif %}
        </td>
    </tr>
</table>
