:root {
    --bs-dark: #1b1543;
    --bs-dark-rgb: 27, 21, 67;

    --yellow-100: #ffffd0;
    --yellow-700: #faea54;
}

.twocol {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: 2em;
}

.tabular-numbers {
    font-variant-numeric: tabular-nums;
}

.small-caps {
    color: #6a7177;
    font-weight: bold;
    letter-spacing: -0.01rem;
    font-size: 95%;
    text-transform: uppercase;
}

summary {
    background-color: var(--yellow-700);
    padding: 0.5rem;
    width: max-content;
    max-width: 100%;
    margin-bottom: 0.5rem;
}

details main {
    background-color: var(--yellow-100);
    margin-top: 0.5rem;
    padding: 0.75rem 1rem;
    max-width: 50rem;
}

/*** FRONT PAGE ***/

.banner {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
}
.heading {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 1.5vw;
    color: white;
}
.heading2 {
    position: absolute;
    bottom: 20%;
    right: 10%;
    font-size: 1.5vw;
    color: white;
}

@media screen and (max-width: 1200px) {
    .banner img {
        max-height: 350px;
        object-fit: cover;
        object-position: 0 12%; /* try 20px 10px */
    }
}

@media screen and (max-width: 800px) {
    .banner img {
        max-height: 200px;
        object-fit: cover;
        object-position: 0 12%; /* try 20px 10px */
    }
    .heading {
        display: none;
    }
    .heading2 {
        position: absolute;
        top: 60%;
        width: 100%;
        font-size: 1rem;
        text-align: right;
    }
}
