{% extends 'main.html' %}

{% block content %}

    <section class="s1">
        <div class="main-container">
            <div class="description-wrapper">
                <h1>Register</h1>
            </div>
        </div>
    </section>
    <section class="s2">
        <div class="main-container">
            <form id="contact-form" method="POST" action="">
                {% csrf_token %}

                {{ form.as_p }}

                <input type="submit" value="Register" />

            </form>
            <p>already signed up?</p>
            <a href="{% url 'login' %}">Log in</a>
        </div>
    </section>

{% endblock content %}
