{% extends 'main.html' %}
{% load mathfilters %}
{% load static %}

{% block title %}History{% endblock %}

{% block content %}

    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-lg-9 col">
                <h1>Result history</h1>
                <div class="mb-3">
                    <label for="filter" class="form-label">Filter</label>
                    <input type="text" value="" id="filter" class="form-control" autocomplete="off" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-danger" onclick="change()" type="button" id="set-filter">None</button>
                    <sub id="filter-sub">Click on filter to remove.</sub>
                </div>
                {% if not jobs %}
                    <p>You've not run any analysis jobs yet so there are no results to show here. Do you want to <a href="{% url 'new-job:start' %}">start a new analysis job</a>?</p>
                {% else %}
                    <div class="card">
                        <table class="table table-striped mb-0">
                            <thead>
                                <th width="0">Job ID</th>
                                <th>Status</th>
                                <th>Ref</th>
                                <th>PostCode</th>
                                <th>Gas</th>
                                <th>Elec</th>
                                <th>Created</th>
                            </thead>

                            <tbody>
                                {% for job in jobs %}
                                    <tr>
                                        <td class="text-end" width="0">
                                            <span class="text-muted">#{{ job.pk }}</span>
                                        </td>
                                        <td>{{ job.status }}</td>
                                        <td>{{ job.ref }}</td>
                                        <td>{{ job.postcode }}</td>
                                        <td>
                                            {% if job.gas_saving > 0 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-down-fill text-success" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                </svg>
                                                -{{ job.gas_saving|floatformat:1 }}%
                                            {% elif job.gas_saving < 0 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-up-fill text-danger" viewBox="0 0 16 16">
                                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                                </svg>
                                                +{{ job.gas_saving|abs|floatformat:1 }}%
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if job.elec_saving > 0 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-down-fill text-success" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                </svg>
                                                -{{ job.elec_saving|floatformat:1 }}%
                                            {% elif job.elec_saving < 0 %}
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-caret-up-fill text-danger" viewBox="0 0 16 16">
                                                    <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                                </svg>
                                                +{{ job.elec_saving|abs|floatformat:1 }}%
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ job.submitted_at }}</td>
                                        <td>
                                            {% if job.status != 'failed' %}
                                                <a href="{% url 'result' job.pk %}">View</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if results.has_previous or results.has_next %}
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if results.has_previous %}
                                    <li class="page-item"><a class="page-link"  href="?page={{results.previous_page_number}}">Previous</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li></li>
                                {% endif %}

                                {% if results.number|add:'-4' > 1 %}
                                    <li class="page-item"><a class="page-link"  href="?page={{ results.number|add:'-5' }}">&hellip;</a></li>
                                {% endif %}

                                {% for i in results.paginator.page_range %}
                                    {% if results.number == i %}
                                        <li class="page-item active" aria-current="page"><span class="page-link">{{i}}</span></li>
                                    {% elif i > results.number|add:'-5' and i < results.number|add:'5' %}
                                        <li class="page-item"><a class="page-link"  href="?page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if results.paginator.num_pages > results.number|add:'4' %}
                                    <li class="page-item"><a class="page-link"  href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                                {% endif %}

                                {% if results.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ results.next_page_number }}">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        if (sessionStorage.getItem("result-filter") === null) {
            sessionStorage.setItem('result-filter', 'None');
        }
        if(sessionStorage.getItem('result-filter') == 'None'){
            document.getElementById("set-filter").disabled = true
            document.getElementById("filter-sub").style.display = "none";
        }
        else {
            document.getElementById("set-filter").innerHTML = sessionStorage.getItem('result-filter');
            document.getElementById("filter-sub").style.display = "inline";

        }

        function change() {
            sessionStorage.setItem('result-filter', 'None');
            location.reload();
        }

        function runFilter(evt) {
            if (evt.key === "Enter") {
                evt.preventDefault();
            }

            const q = document.querySelector("#filter").value.toLowerCase()
            var a;

            if(q){
                sessionStorage.setItem('result-filter' , q);
            }

            if(sessionStorage.getItem('result-filter') != 'None'){
                a = sessionStorage.getItem('result-filter');
            } else {
                a = q;
            };

            const rowsToFilter = document.querySelectorAll("tbody tr");
            for (let label of rowsToFilter) {
                if (label.textContent.toLowerCase().includes(a)) {
                    label.classList.remove("d-none");
                } else {
                    label.classList.add("d-none");
                }
            }

        }

        // Run on document init in case the filter text field already has text
        // input (i.e. the page has been refeshed while there was already text
        // in the field)
        runFilter({ key: "none" });
        document.querySelector("#filter").addEventListener("input", runFilter);
    </script>
{% endblock %}
