{% extends 'main.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="banner">
        <img src="{% static 'imgs/home/Background_no_text.jpg' %}" class="d-block h-100 w-100" alt="">
        <h3 class="heading">Generate revenue-grade<br/>energy savings estimates for<br/>home retrofits with smart<br/>meter data only.</h3>
        <h3 class="heading2">Metered Energy Savings from <bold>Carbon Co-op</bold></h3>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-8 col p-4">
                <p class="mb-4"><b>PowerShaper Tracker</b> enables energy baselining for domestic buildings. Estimate what your energy consumption would have been had you not implemented any energy saving measures, such as turning down the heating, installing insulation, or switching from a gas boiler to electric heat pump.</p>

                <p>
                    <a class="btn btn-primary btn-lg me-3" href="{% url 'new-job:start' %}">Start analysis</a>
                    <a class="btn btn-primary btn-lg" href="{% url 'faq' %}">FAQs</a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}
