{% extends 'main.html' %}

{% block title %}History{% endblock %}

{% block content %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        h2 { font-weight: bold }
    </style>

    <div class="container mt-4 mb-5">
        {% for message in messages %}
            <div class="alert alert-primary {% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                <h1 class="mb-0">Analysis result</h1>
                <p class="text-muted">
                    Job #{{ job.id }},
                    {% if job.finished_at %}
                        analysis complete, finished at {{ job.finished_at }}
                    {% elif job.started_at %}
                        analysis in progress, started at {{ job.started_at }}
                    {% else %}
                        analysis not yet started, job submitted at {{ job.submitted_at }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 col-md-6">
                <div class="twocol mb-3">
                    <span>Reference:</span>
                    <span>{{ job.reference }}</span>
                    <span>Postcode:</span>
                    <span>{{ job.postcode }}</span>
                    {% if job.finished_at %}
                        <span>Download:</span>
                        <span><a href="{% url 'download_summed_csv' pk=job.id %}">Aggregrated model data hourly</a>,<br>
                            <a href="{% url 'download_summed_csv_daily' pk=job.id %}">Aggregrated model data daily</a></span>

                        <span class="mt-2">Show model:</span>
                        <span class="mt-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="model" value="hourly" checked id="model-hourly">
                                <label class="form-check-label" for="model-hourly">
                                    hourly model
                                    {% if job.better_fit == "HOURLY" %}
                                        <span class="badge bg-success">
                                            BEST FIT
                                        </span>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="model" value="daily" id="model-daily">
                                <label class="form-check-label" for="model-daily">
                                    daily model
                                    {% if job.better_fit == "DAILY" %}
                                        <span class="badge bg-success">
                                            BEST FIT
                                        </span>
                                    {% endif %}
                                </label>
                            </div>
                        </span>
                    {% endif %}
                </div>

                {% if job.finished_at %}
                    <details>
                        <summary>What is model fit?</summary>
                        <main>
                            <p>
                                PowerShaper Tracker runs your data against both the <a href="https://www.recurve.com/how-it-works/caltrack-hourly-methods">CalTRACK Hourly methods</a> and the <a href="https://www.recurve.com/how-it-works/caltrack-billing-daily-methods">CalTRACK Daily methods</a>. The 'best fit' model is that with the lowest coefficient of variation of the root mean squared error (CV-RMSE) - see 'Uncertainty metrics' below for more information.
                            </p>
                        </main>
                    </details>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <div class="twocol">
                    <span>Baseline period:</span>
                    <span>{{ job.baseline_period.0 }}&mdash;{{ job.baseline_period.1 }}</span>
                    <span>Intervention period:</span>
                    <span>{{ job.intervention_period.0 }}&mdash;{{ job.intervention_period.1 }}</span>
                    <span>Reporting period:</span>
                    <span>{{ job.reporting_period.0 }}&mdash;{{ job.reporting_period.1|default:"?" }}</span>
                </div>
            </div>
        </div>

        {% if job.floor_area and job.finished_at %}
            <div class="row mb-5">
                <h2>Energy use intensity & carbon intensity</h2>

                <p>
                    Energy Use Intensity (EUI) is an annual measure of the total energy consumed in a building.
                </p>

                <div data-model="hourly">
                    {% include "base/result_card/intensity_figures.html" with intensity_figures=data.hourly_model_if %}
                </div>

                <div data-model="daily">
                    {% include "base/result_card/intensity_figures.html" with intensity_figures=data.daily_model_if %}
                </div>

                <details>
                    <summary>About energy and carbon intensity figures</summary>
                    <main>
                        <p>
                            <b>Energy Usage Intensity (EUI)</b> creates a standardised metric at design state that can then be easily applied to post occupancy evaluation. Many organisations such as <a href="https://www.bimplus.co.uk/leti-sets-best-practice-for-energy-performance-modelling/">LETI</a> and <a href="https://www.architecture.com/-/media/files/Climate-action/RIBA-2030-Climate-Challenge.pdf">RIBA</a> have argued that EUI should be used as the primary evaluation metric, over more complex calculations, such as Primary Energy Use or carbon emissions.
                        </p>
                        <p>
                            LETI's Climate Emergency Design Guides give a target figure of <a href="https://www.leti.uk/_files/ugd/252d09_d30d9c82775e495692761213f285444b.pdf">50 kWh/m2.yr for retrofitted</a> and <a href="https://www.leti.uk/_files/ugd/252d09_c1ae6c7277c7467ebd4810a02423802e.pdf">35 kWh/m2.yr for new build</a> domestic properties.
                        </p>
                        <p>
                            The <b>Carbon Intensity figure</b> - is calculated based on multiplying the EUI metric by carbon intensity figure specified by the government’s 2021 Standard Assessment Procedure (P182, SAP version 10.2 - 17-12-2021), currently 136gCO2/kWh for electricity and 210gCO2/kWh for mains gas.
                        </p>
                    </main>
                </details>
            </div>
        {% endif %}

        {% if job.finished_at %}
            <div class="row">
                <h2>Reporting period</h2>
            </div>

            <div class="row mb-2">
                {% if data.electricity %}
                    <div class="col-12 col-md-6">
                        <h3>Electricity</h3>
                        <div data-model="hourly">
                            {% include "base/result_card/headline.html" with  model=data.electricity.hourly_model %}
                        </div>
                        <div data-model="daily">
                            {% include "base/result_card/headline.html" with model=data.electricity.daily_model %}
                        </div>
                    </div>
                {% endif %}

                {% if data.gas %}
                    <div class="col-12 col-md-6">
                        <h3>Gas</h3>
                        <div data-model="hourly">
                            {% include "base/result_card/headline.html" with  model=data.gas.hourly_model %}
                        </div>
                        <div data-model="daily">
                            {% include "base/result_card/headline.html" with model=data.gas.daily_model %}
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row mb-3">
                <details>
                    <summary>How are CO₂ emissions reductions calculated?</summary>

                    <main>
                        <p>The main climate impact of energy use is from the carbon dioxide emissions associated with combustion for the generation of electricity or heat. In the case of electricity this arises from the burning of coal, gas, biomass or waste in a power station, and as such the carbon emitted for a unit of energy (its carbon intensity) varies according to the mix of generation occurring from hour to hour.</p>

                        <p>For the purposes of benchmarking emissions over a longer period, we use the average figure for carbon intensity specified in the government’s 2021 Standard Assessment Procedure for Energy Rating of Dwellings (<a href="https://files.bregroup.com/SAP/SAP%2010.2%20-%2017-12-2021.pdf">P182, SAP version 10.2 - 17-12-2021</a>), currently 136gCO2/kWh for electricity and 210gCO2/kWh for mains gas.</p>
                    </main>
                </details>
            </div>

            <div class="row mb-3">
                {% if data.electricity %}
                    <div class="col-12 col-md-6">
                        <div data-model="hourly" class="card p-1">
                            <div id="hourly-model-elec" style="max-width: 100%"></div>
                        </div>
                        <div data-model="daily" class="card p-1">
                            <div id="daily-model-elec" style="max-width: 100%"></div>
                        </div>
                    </div>
                {% endif %}

                {% if data.gas %}
                    <div class="col-12 col-md-6">
                        <div data-model="hourly" class="card p-1">
                            <div id="hourly-model-gas" style="max-width: 100%"></div>
                        </div>
                        <div data-model="daily" class="card p-1">
                            <div id="daily-model-gas" style="max-width: 100%"></div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="row mb-4">
                <div class="d-flex justify-content-center mb-3">
                    <label>Display data by:</label>
                    <div class="form-check form-check-inline">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="resolution" value="month" checked id="resolution-month">
                            <label class="form-check-label" for="resolution-month">
                                month
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="resolution" value="day" id="resolution-day">
                            <label class="form-check-label" for="resolution-day">
                                day
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="resolution" value="cumulative" id="resolution-cumulative">
                            <label class="form-check-label" for="resolution-cumulative">
                                cumulative
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                {% if data.electricity %}
                    <div class="col-12 col-md-6" data-model="hourly">
                        {% include "base/result_card/uncertainty_metrics.html" with model=data.electricity.hourly_model %}
                    </div>
                    <div class="col-12 col-md-6" data-model="daily">
                        {% include "base/result_card/uncertainty_metrics.html" with model=data.electricity.daily_model %}
                    </div>
                {% endif %}

                {% if data.gas %}
                    <div class="col-12 col-md-6" data-model="hourly">
                        {% include "base/result_card/uncertainty_metrics.html" with model=data.gas.hourly_model %}
                    </div>
                    <div class="col-12 col-md-6" data-model="daily">
                        {% include "base/result_card/uncertainty_metrics.html" with model=data.gas.daily_model %}
                    </div>
                {% endif %}
            </div>

            <div class="row mb-5">
                <details>
                    <summary>What are uncertainty metrics and how can I interpret them?</summary>
                    <main>
                        <p>
                            These metrics are used in data science to evaluate the uncertainty associated with a data model when applied to a particular dataset. More details on each acronym can be found on our <a href="{% url 'faq' %}" target="_blank">FAQ page</a>, with example thresholds below. Where a metric meets the more stringent ASHRAE Guideline 14-2014 for post retrofit analysis a green tick is applied, where metrics falls outside that threshold a red question mark is applied.
                        </p>
                        <ul>
                            <li>
                                CV-RMSE: The closer to zero the better the model fit. ASHRAE suggests a threshold of 0.25 (25%), while CalTRACK generally opts for a more permissive 1.0.
                            </li>
                            <li>
                                NMBE: The closer to zero the better the fit. ASHRAE Guideline 14-2014 recommends ±0.05 (±0.5%)
                            </li>
                        </ul>
                    </main>
                </details>
            </div>

            {% if job.reporting_period_365_plus_days %}
                <div class="row">
                    <h2>Comparative data</h2>
                </div>

                <div class="row" data-model="hourly">
                    {% if data.electricity %}
                        <div class="col-12 col-md-6">
                            {% include "base/result_card/comparative_data.html" with annual=data.electricity.annual model=data.electricity.hourly_model %}
                        </div>
                    {% endif %}

                    {% if data.gas %}
                        <div class="col-12 col-md-6">
                            {% include "base/result_card/comparative_data.html" with annual=data.gas.annual model=data.gas.hourly_model %}
                        </div>
                    {% endif %}
                </div>

                <div class="row" data-model="daily">
                    {% if data.electricity %}
                        <div class="col-12 col-md-6">
                            {% include "base/result_card/comparative_data.html" with annual=data.electricity.annual model=data.electricity.daily_model %}
                        </div>
                    {% endif %}

                    {% if data.gas %}
                        <div class="col-12 col-md-6">
                            {% include "base/result_card/comparative_data.html" with annual=data.gas.annual model=data.gas.daily_model %}
                        </div>
                    {% endif %}
                </div>

                <div class="row mb-5">
                    <details>
                        <summary>About comparative data source and value</summary>
                        <main>
                            <p>Local and postcode averages are taken from national datasets made available by from the Department of Business, Energy and Industrial Strategy. These raw averages hide significant variation due to factors such as different space and hot water heating systems. These are provided for general comparison and may not represent a good measure of the performance of your home. Local area data is taken from the <a href="https://www.gov.uk/government/statistics/lower-and-middle-super-output-areas-electricity-consumption">2021 Lower Super Output Area (LSOA) dataset</a>. Postcode data is taken from the <a href="https://www.gov.uk/government/statistics/postcode-level-electricity-statistics-2021-experimental">2021 experimental postcode dataset</a>, and is based on your full postcode.</p>
                        </main>
                    </details>
                </div>
            {% endif %}
        {% endif %}
    </div>

    {{ data.electricity.hourly_model.monthly_figures|json_script:"elec-hourly-by-month" }}
    {{ data.electricity.hourly_model.daily_figures|json_script:"elec-hourly-by-day" }}
    {{ data.electricity.hourly_model.cumulative_figures|json_script:"elec-hourly-by-cumulative" }}

    {{ data.electricity.daily_model.monthly_figures|json_script:"elec-daily-by-month" }}
    {{ data.electricity.daily_model.daily_figures|json_script:"elec-daily-by-day" }}
    {{ data.electricity.daily_model.cumulative_figures|json_script:"elec-daily-by-cumulative" }}

    {{ data.gas.hourly_model.monthly_figures|json_script:"gas-hourly-by-month" }}
    {{ data.gas.hourly_model.daily_figures|json_script:"gas-hourly-by-day" }}
    {{ data.gas.hourly_model.cumulative_figures|json_script:"gas-hourly-by-cumulative" }}

    {{ data.gas.daily_model.monthly_figures|json_script:"gas-daily-by-month" }}
    {{ data.gas.daily_model.daily_figures|json_script:"gas-daily-by-day" }}
    {{ data.gas.daily_model.cumulative_figures|json_script:"gas-daily-by-cumulative" }}

    <script type="text/javascript">
        window.onload = (event) => {
            var better_fit = "{{job.better_fit}}";
            if(better_fit == "DAILY"){
                document.getElementById('model-daily').checked = true;
            } else {
                document.getElementById('model-hourly').checked = true;
            }
        };

        google.charts.load('current', {'packages': ['corechart']});

        function drawChart(type, sourceDataId, chartElementId) {
            const sourceData = JSON.parse(
                document.getElementById(sourceDataId).textContent
            );

            if (sourceData === "") {
                // No data; forget it.
                return;
            }

            const dataTable = new google.visualization.DataTable();
            if (type === 'monthly') {
                dataTable.addColumn('string', 'Date');
            } else {
                dataTable.addColumn('date', 'Date');
            }
            dataTable.addColumn('number', "Observed use");
            dataTable.addColumn('number', "Counterfactual usage");
            dataTable.addColumn('number', "Metered savings");

            dataTable.addRows(
                sourceData.map(row => [
                    type === 'monthly'
                    ? `${row.date.month}/${row.date.year}`
                    : new Date(row.date.year, row.date.month - 1, row.date.day),
                    row.observed,
                    row.counterfactual,
                    row.savings
                ])
            );
            const chart = new google.visualization.LineChart(
                document.getElementById(chartElementId)
            );
            chart.draw(dataTable, {
                vAxis: { title: 'kWh' },
                legend: {position: 'top', textStyle: {fontSize: 9}},
                chartArea:{width:'95%', right: 5}
            });

            return chart;
        }

        function redraw() {
            const modelType = document.querySelector("[name=model]:checked").value

            const modelElems = document.querySelectorAll("[data-model]")
            for (const elem of modelElems) {
                const type = elem.dataset.model
                const hide = type !== modelType;
                if (hide) {
                    elem.classList.add("d-none");
                } else {
                    elem.classList.remove("d-none");
                }
            }

            const resolution = document.querySelector("[name=resolution]:checked").value
            drawChart('monthly', `elec-${modelType}-by-${resolution}`, `${modelType}-model-elec`);
            drawChart('monthly', `gas-${modelType}-by-${resolution}`, `${modelType}-model-gas`);
        }

        google.charts.setOnLoadCallback(redraw);

        const inputs = ["model-hourly", "model-daily", "resolution-day", "resolution-month", "resolution-cumulative"]
        for (let input of inputs) {
            document.getElementById(input).addEventListener('change', redraw);
        }
    </script>
{% endblock %}
