{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'imgs/logo_beta.png' %}" height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'new-job:start' %}">Analyse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'history' %}">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'settings' %}">Settings</a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'faq' %}">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="https://gitlab.com/carboncoop/powershaper-tracker/-/releases/1.0.0-beta1" target="_blank">status</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    <li class="navbar-text">
                        <span class="text-muted">{{ request.user.name }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
