{% extends 'main.html' %}

{% block title %}New job{% endblock %}

{% block content %}

    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-lg-9 col">
                <h1>Finalise job</h1>

                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Select" />
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
