{% extends 'main.html' %}

{% block title %}Upload CSVs{% endblock %}

{% block content %}

    <div class="container mt-4 mb-5">
        <div class="row">
            <div class="col-lg-9 col">
                <h1>Upload CSVs</h1>

                <ul>
                    <li>CSVs should have at least two columns: the timestamp in ISO format (yyyy-mm-ddThh-mm-ss(Z)) and the amount used in the following half hour in kWh.</li>
                    <li>Further columns are allowed but ignored.</li>
                </ul>

                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" value="Select" />
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
